<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zxy.mytsfqxproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 读取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--拨打电话-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- android6.0中，获取通讯录的权限是 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 安装未知应用 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!--兼容新式全面屏机型（2:1屏幕）-->
    <meta-data
        android:name="android.max_aspect"
        android:value="2.1" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForgetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.jdkd.JDKDActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.fuwu.FWDDActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.gcgl.GCGLActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ddjs.DDJSActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.jdkd.ChooseCustomerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.CustomerEditorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CustomerManager"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.jdkd.AddFuwuActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.jdkd.CarBrandActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.CustomerDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CarDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OpenCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CardDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NewAddOrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.NewOrdeAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NewOrdeListItemActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.fuwu.FwddSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.fuwu.FwDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.fuwu.IntoShopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.fuwu.JieCheDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.fuwu.JianCheDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.fuwu.JianCheActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.fuwu.FwAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.fuwu.FwddTaskingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.fuwu.FwOfferActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.fuwu.SettlementActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.ChangeInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MapActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AdviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CertificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChangePwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PhoneAddressBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".upload.AndroidOPermissionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yanzhenjie.album.AlbumActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="图库"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.zxy.mytsfqxproject.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>
        <!--聚合会话列表-->
        <activity
            android:name=".rongIM.SubConversationListActivtiy"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.zxy.mytsfqxproject"
                    android:pathPrefix="/subconversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <!--会话界面-->
        <activity
            android:name=".rongIM.ConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.zxy.mytsfqxproject"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <!--会话列表-->
        <activity
            android:name=".rongIM.ConversationListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.zxy.mytsfqxproject"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <!-- 高德地图-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="7139673115baf475a08bd7d1dfe3cf55" />

        <service android:name="com.amap.api.location.APSService" />
    </application>

</manifest>